<app-navpages></app-navpages>




<div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
  <div class="item-meta">
    <h2>Comodidad</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/1.jpg" alt="">
  <div class="item-meta">
    <h2>Confort</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/2.jpg" alt="">
  <div class="item-meta">
    <h2>Elegancia</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/3.jpg" alt="">
  <div class="item-meta">
    <h2>Popularidad</h2>
   
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/4.jpg" alt="">
  <div class="item-meta">
    <h2>Cordialidad</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/5.jpg" alt="">
  <div class="item-meta">
    <h2>Limpieza</h2>
   
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/6.jpg" alt="">
  <div class="item-meta">
    <h2>Amabilidad</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/7.jpg" alt="">
  <div class="item-meta">
    <h2>Servicio las 24 horas</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/8.jpg" alt="">
  <div class="item-meta">
    <h2>Bienestar</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/9.jpg" alt="">
  <div class="item-meta">
    <h2>De lo mejor</h2>
   
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/10.jpg" alt="">
  <div class="item-meta">
    <h2>Atractivo</h2>
   
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/11.jpg" alt="">
  <div class="item-meta">
    <h2>Bonita</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/12.jpg" alt="">
  <div class="item-meta">
    <h2>Exelente</h2>
    
  </div></a>
</div>


<app-footer></app-footer>