<app-navpages></app-navpages>
<<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-xs-ta-center au-mb-4">
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/1.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Mision</h5>

      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4" aling="justify">Nuestra vision es otorgar a nuestros clientes un servicio excelente que haga de su estancia una experiencia para recordar. Apoyados en la calidad y calidez humana de nuestro personal, la belleza, y exclusividad del Hotel</p><a href="#0" class="ae-u-bolder au-underline"></a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/3.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Vision</h5>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4" aling="justify">Nuestra Vision es lograr que el HOTEL-SPA POSADA BONITA se posicione como la mejor opción del estado en servicio de hospedaje, alimentos, eventos sociales y grupos; manteniendo siempre la calidad y excelencia. </p><a href="#0" class="ae-u-bolder au-underline"></a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/2.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Lema</h5>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4" aling="justify">Nuestro lema es Calidad y confort en un mismo lugar</p><a href="#0" class="ae-u-bolder au-underline"></a>
    </div>
  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Un poco de Historia</h4>
      <p>Esta hermosa casona con amplias columnas toscanas y su bello patio al centro fue destinada para
         servir como hotel en el año de 1825, siendo el primer hotel de Dolores Hidalgo, fundado por 
         Doña Manuela Gómez. Desde entonces ha sido parte fundamental de la ciudad y escenario de grandes 
         episodios dentro de la historia. Muy interesante fue la estancia del excéntrico General Antonio 
         López de Santa Anna. Por razones bélicas visito la ciudad en 1844, siendo el refinamiento 
         del hotel lo que lo cautivo para hacerlo su elección predilecta. Por esas fechas funcionarios 
         se alojaron en el Hotel mientras los poderes de la Republica residían en la ciudad. 
         Su estancia culmino con la tristemente celebre firma del “Tratado de Guadalupe” en la que 
         se cede a Estados Unidos mas de la mitad del territorio mexicano. Hacia 1879 Ángela Peralta
          “El Ruiseñor Mexicano” engalano con su presencia al Hotel, entonces renombrado como “el mejor
           y más moderno del bajío” En 1880, se crea el primer servicio de diligencias y para 1917,
            el hotel albergo a varios eminentes personajes del congreso constituyente, quienes crearon 
            la Constitución que actualmente nos rige. El tiempo implacable verá en el futuro la 
            transmutación del hotel y el paso de los invitados que como usted forman parte de nuestra
            historia.</p>
    </div>
  </div>
  </div>

<app-footer></app-footer>
